Web References/CmsResourcesProxy/resourcesproxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.eastsussex.gov.uk/Escc.Cms.WebServices" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.eastsussex.gov.uk/Escc.Cms.WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.eastsussex.gov.uk/Escc.Cms.WebServices">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="RootResourceGalleryProxy">
        <s:complexType />
      </s:element>
      <s:element name="RootResourceGalleryProxyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RootResourceGalleryProxyResult" type="tns:CmsResourceGallery" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CmsResourceGallery">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Guid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Galleries" type="tns:ArrayOfCmsResourceGallery" />
          <s:element minOccurs="0" maxOccurs="1" name="Resources" type="tns:ArrayOfCmsResource" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCmsResourceGallery">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CmsResourceGallery" nillable="true" type="tns:CmsResourceGallery" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCmsResource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CmsResource" nillable="true" type="tns:CmsResource" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CmsResource">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Guid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DisplayName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ResourceGalleryProxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="guid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResourceGalleryProxyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ResourceGalleryProxyResult" type="tns:CmsResourceGallery" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CmsResourceGallery" nillable="true" type="tns:CmsResourceGallery" />
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RootResourceGalleryProxySoapIn">
    <wsdl:part name="parameters" element="tns:RootResourceGalleryProxy" />
  </wsdl:message>
  <wsdl:message name="RootResourceGalleryProxySoapOut">
    <wsdl:part name="parameters" element="tns:RootResourceGalleryProxyResponse" />
  </wsdl:message>
  <wsdl:message name="ResourceGalleryProxySoapIn">
    <wsdl:part name="parameters" element="tns:ResourceGalleryProxy" />
  </wsdl:message>
  <wsdl:message name="ResourceGalleryProxySoapOut">
    <wsdl:part name="parameters" element="tns:ResourceGalleryProxyResponse" />
  </wsdl:message>
  <wsdl:message name="RootResourceGalleryProxyHttpGetIn" />
  <wsdl:message name="RootResourceGalleryProxyHttpGetOut">
    <wsdl:part name="Body" element="tns:CmsResourceGallery" />
  </wsdl:message>
  <wsdl:message name="RootResourceGalleryProxyHttpPostIn" />
  <wsdl:message name="RootResourceGalleryProxyHttpPostOut">
    <wsdl:part name="Body" element="tns:CmsResourceGallery" />
  </wsdl:message>
  <wsdl:portType name="ResourcesProxySoap">
    <wsdl:operation name="RootResourceGalleryProxy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets details of the root resource gallery and its immediate children from another server.</wsdl:documentation>
      <wsdl:input message="tns:RootResourceGalleryProxySoapIn" />
      <wsdl:output message="tns:RootResourceGalleryProxySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ResourceGalleryProxy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets details of a resource gallery and its immediate children from another server.</wsdl:documentation>
      <wsdl:input message="tns:ResourceGalleryProxySoapIn" />
      <wsdl:output message="tns:ResourceGalleryProxySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ResourcesProxyHttpGet">
    <wsdl:operation name="RootResourceGalleryProxy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets details of the root resource gallery and its immediate children from another server.</wsdl:documentation>
      <wsdl:input message="tns:RootResourceGalleryProxyHttpGetIn" />
      <wsdl:output message="tns:RootResourceGalleryProxyHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ResourcesProxyHttpPost">
    <wsdl:operation name="RootResourceGalleryProxy">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Gets details of the root resource gallery and its immediate children from another server.</wsdl:documentation>
      <wsdl:input message="tns:RootResourceGalleryProxyHttpPostIn" />
      <wsdl:output message="tns:RootResourceGalleryProxyHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ResourcesProxySoap" type="tns:ResourcesProxySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RootResourceGalleryProxy">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/Escc.Cms.WebServices/RootResourceGalleryProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResourceGalleryProxy">
      <soap:operation soapAction="http://www.eastsussex.gov.uk/Escc.Cms.WebServices/ResourceGalleryProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourcesProxySoap12" type="tns:ResourcesProxySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RootResourceGalleryProxy">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/Escc.Cms.WebServices/RootResourceGalleryProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResourceGalleryProxy">
      <soap12:operation soapAction="http://www.eastsussex.gov.uk/Escc.Cms.WebServices/ResourceGalleryProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourcesProxyHttpGet" type="tns:ResourcesProxyHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="RootResourceGalleryProxy">
      <http:operation location="/RootResourceGalleryProxy" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ResourcesProxyHttpPost" type="tns:ResourcesProxyHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="RootResourceGalleryProxy">
      <http:operation location="/RootResourceGalleryProxy" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ResourcesProxy">
    <wsdl:port name="ResourcesProxySoap" binding="tns:ResourcesProxySoap">
      <soap:address location="http://localhost/escc.cms.webservices/resourcesproxy.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourcesProxySoap12" binding="tns:ResourcesProxySoap12">
      <soap12:address location="http://localhost/escc.cms.webservices/resourcesproxy.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourcesProxyHttpGet" binding="tns:ResourcesProxyHttpGet">
      <http:address location="http://localhost/escc.cms.webservices/resourcesproxy.asmx" />
    </wsdl:port>
    <wsdl:port name="ResourcesProxyHttpPost" binding="tns:ResourcesProxyHttpPost">
      <http:address location="http://localhost/escc.cms.webservices/resourcesproxy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>